.client__title {
    @extend .solution__title
}

.client__list {
    display: flex;
}

.client__item {
    border: 1px solid #afb1b8;
    border-radius: 4px;

    transition: border var(--duration) var(--transition-timing);

    &:not(:last-child) {
        margin-right: 30px;
    }

    &:hover,
    &:focus {
        border: 1px solid var(--accent-color);
    }
    &:hover .client__icon,
    &:focus .client__icon {
        fill: var(--accent-color);
    }
}

.client__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
  
}

.client__icon {
    fill: var(--soc-icon-fill);

    transition: background-color, fill var(--duration) var(--transition-timing);

}