/* Clients */

.client-list {
    display: flex;
}

.client-item {
    border: 1px solid #afb1b8;
    border-radius: 4px;

    transition-property: border;
    transition-duration: var(--duration);
    transition-timing-function: var(--transition-timing);
}

.client-link.link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
}

.client-icon {
    fill: var(--soc-icon-fill);

    transition-property: background-color fill;
    transition-duration: var(--duration);
    transition-timing-function: var(--transition-timing);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
    fill: var(--accent-color);
}

.client-item:not(:last-child) {
    margin-right: 30px;
}

.client-item:hover,
.client-item:focus {
    border: 1px solid var(--accent-color);
}