/* Command */

.command-list {
    display: flex;
}

.command-list .item+.item {
    margin-left: 30px;
}

.command-list .item {
    background: var(--default-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.command-list div {
    padding-top: 30px;
    padding-bottom: 16px;
}

.section-command {
    background-color: var(--section-bg-color);
    /* width: 1600px;
    margin-right:auto;
    margin-left:auto;  */
}

.command-title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
}

.command-text {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;

    color: var(--second-text-color);
}

.command-soc-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.command-soc-item {
    width: 44px;
    height: 44px;
}

.command-soc-item:not(:last-child) {
    margin-right: 10px;
}

.command-soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: var(--duration);
    transition-timing-function: var(--transition-timing);
}

.command-soc-link:hover,
.command-soc-link:focus {
    background-color: var(--accent-color);
    fill: var(--default-bg-color);
}

.command-soc-icon {
    fill: var(--soc-icon-fill);

    transition-property: fill;
    transition-duration: var(--duration);
    transition-timing-function: var(--transition-timing);
}

.command-soc-link:hover .command-soc-icon,
.command-soc-link:focus .command-soc-icon {
    fill: var(--default-bg-color);
}