/* What we do */

.what-list {
    display: flex;
    justify-content: space-between;
}

.what-thumb {
    display: flex;
    position: relative;
    justify-content: center;
}

.what-thumb::before {
    content: '';
    display: inline-block;
    position: absolute;
    background-color: var(--overlay-color);
    height: 70px;
    width: 100%;
    bottom: 0;
}

.what-description-title {
    position: absolute;
    bottom: 27px;

    color: var(--default-bg-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.what-list .item+.item {
    margin-left: 30px;
}

.what-title,
.command-maintitle,
.client-title {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}